altgraph==0.17
astroid==2.4.0
beautifulsoup4==4.9.0
bs4==0.0.1
certifi==2020.4.5.1
chardet==3.0.4
colorama==0.4.3
fbs==0.9.0
future==0.18.3
geoip2==3.0.0
idna==2.9
isort==4.3.21
lazy-object-proxy==1.4.3
loguru==0.5.3
macholib==1.14
maxminddb==1.5.2
mccabe==0.6.1
notify-py==0.3.1
pefile==2019.4.18
pycodestyle==2.5.0
pylint==2.5.0
pypiwin32==223
PyQt5==5.15.2
PyQt5-sip==12.8.1
PySide2==5.15.2
requests==2.23.0
shiboken2==5.15.2
six==1.14.0
soupsieve==2.0
toml==0.10.0
typed-ast==1.4.1
urllib3==1.25.9
win10toast==0.9
wrapt==1.12.1
