asn1crypto==1.3.0
astroid==2.3.3
atomicwrites==1.3.0
attrs==19.3.0
autopep8==1.5
beautifulsoup4==4.9.0
bs4==0.0.1
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
colorama==0.4.3
conda==4.8.2
conda-package-handling==1.6.0
cryptography==2.8
geoip2==3.0.0
idna==2.8
importlib-metadata==1.5.0
isort==4.3.21
lazy-object-proxy==1.4.3
maxminddb==1.5.2
mccabe==0.6.1
menuinst==1.4.16
more-itertools==8.2.0
packaging==20.1
pluggy==0.13.1
py==1.8.1
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycryptodomex==3.9.4
pylint==2.4.4
pyOpenSSL==19.1.0
pyparsing==2.4.6
PyQt5==5.14.2
PyQt5-sip==12.7.2
PySocks==1.7.1
pytest==5.3.5
pywin32==227
requests==2.22.0
ruamel-yaml==0.15.87
six==1.14.0
soupsieve==2.0
tqdm==4.42.1
typed-ast==1.4.1
urllib3==1.25.8
wcwidth==0.1.8
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.11.2
zipp==3.0.0
